<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "User Management" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Common Navigation -->
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('update_password') }}">Update Password</a></li>
            </ul>
        </nav>
        <h1>{{ heading if heading else "User Management" }}</h1>

        <!-- Main Content -->
        {% block content %}{% endblock content %}
    </div>
    <script src="{{ url_for('static', filename='user.js') }}"></script>
</body>
</html>
